@font-face {
  font-family: 'Open Sans Regular', sans-serif;
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular.ttf") format('ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Open Sans Semi', sans-serif;
  font-weight: initial;
  src: url("../fonts/OpenSans-SemiBold.ttf") format('ttf');
  font-weight: 600;
}
font-face {
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: bold;
  src: url("../fonts/OpenSans-Bold.ttf") format('ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Lora', serif;
  font-weight: normal;
  src: url("../fonts/Lora-Regular.ttf") format('ttf');
}
@font-face {
  font-family: 'Lora', serif;
  font-weight: bold;
  src: url("../fonts/Lora-Bold.ttf") format('ttf');
}
@font-face {
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  src: url("../fonts/Oswald-Light.ttf") format('ttf');
}
@font-face {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  src: url("../fonts/Oswald-Medium.ttf") format('ttf');
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 100%;
  min-width: 100%;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #323737;
  margin: 0;
}
body {
  position: relative;
  margin: 0;
}
p {
  font-size: 15px;
}
h1,
h2,
h3 {
  font-family: 'Lora', serif;
}
h3 {
  font-weight: bold;
}
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.text-black {
  color: #323737;
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #ffffff;
  z-index: 1000;
}
.helper {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  z-index: 2000;
  padding: 12px 32px;
  background: #ffffff;
  border: 2px solid rgba(50, 55, 55, 0.15);
  border-radius: 10px;
}
a:link,
a:active {
  text-decoration: none;
  color: #323737;
}
.button {
  line-height: 36px;
  height: 36px;
  text-align: center;
  width: 180px;
  cursor: pointer;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.button-eff {
  color: #323737;
  transition: all 0.3s;
  position: relative;
}
.button-eff span {
  transition: all 0.3s;
}
.button-eff:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.25s linear;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: #ec7700;
  border-bottom-color: #ec7700;
  transform: scale(0.1, 1);
}
.button-eff:hover span {
  letter-spacing: 4px;
  color: rgba(50, 55, 55, 0.5);
}
.button-eff:hover:before {
  opacity: 1;
  transform: scale(1, 1);
}
.button-eff:hover:after {
  opacity: 0;
  transform: scale(0.1, 1);
}
.button-eff:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(236, 119, 0, 0.2);
  border-radius: 4px;
}
.nav-bar {
  position: fixed;
  z-index: 100;
}
.nav-bar__logo {
  max-width: 160px;
}
.nav-bar__logo .nav-bar__logo--in {
  width: 160px;
  position: absolute;
  top: 0;
  display: none;
}
.nav-bar__logo:hover .nav-bar__logo--in {
  display: block;
}
.nav-bar__logo .nav-bar__logo-img {
  width: 100%;
  max-width: 160px;
  height: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.nav-bar__menu-icon {
  font-size: 24px;
}
.text-white,
.text-black {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.nav-bar__logo--ico {
  height: 26px;
  width: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.temp {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
}
.temp p {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #323737;
}
.lds-grid {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-32px, -32px);
  width: 64px;
  height: 64px;
}
.lds-grid div {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ec7700;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 6px;
  left: 6px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 6px;
  left: 26px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 6px;
  left: 45px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 26px;
  left: 6px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 26px;
  left: 26px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 26px;
  left: 45px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 45px;
  left: 6px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 45px;
  left: 26px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 45px;
  left: 45px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
