@fontPath: "../fonts/";
@imagePath:"../images/";
@baseFontSize: 15px;
@baseGray:rgb(50,55,55);
@medGray:rgb(50,55,55);
@lightGray:rgb(170,175,175);
@baseOrange:rgb(236,119,0);
@darkOrange:rgb(200,75,0);
@lightOrange:rgb(255,180,110);
@transition: all .25s linear;